In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('./data/S7_table.csv')
df.head()

,gene,gene.id,cell.bin,raw.tpm.estimate,adjusted.tpm.estimate,bootstrap.median.tpm,ci.95p.lb,ci.80p.lb,ci.80p.ub,ci.95p.ub
0,aap-1,WBGene00000001,ADE:390_510,35.7,14.5,30.9,0.0,0.5,71.5,92.2
1,aap-1,WBGene00000001,ADEsh:390_510,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,aap-1,WBGene00000001,ADF:390_510,38.6,30.7,37.6,3.2,13.3,64.3,80.3
3,aap-1,WBGene00000001,ADF:510_650,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,aap-1,WBGene00000001,ADF_AWB_terminal_cells_but_undifferentiated,31.5,21.5,29.4,0.0,7.5,57.7,72.4